### GITIGNORE ###
# White List

# Ignore all by default
*
!*/

!.gitignore

## Project Directories

# Python

!sim/*.py

# C++

!cpp/*.cpp
!cpp/*.h
!cpp/*.cu

# Julia 

!SolveInitial/*.toml
!SolveInitial/src/*.jl

## Binaries/Libraries

## Metadata

!compile_flags.txt
!juliapkg.json
!pyrightconfig.json

## Documentation

!README.md
